.cf {
    *zoom: 1;
}

.cf:before, .cf:after {
    content: '';
    display: table;
    line-height: 0;
}

.cf:after {
    clear: both;
}

html {
    box-sizing: border-box;
}

html * {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 125px 0 0;
    background: #22CC99;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.25em;
    font-family: 'Open Sans', sans-serif;
}

header {
    height: 125px;
    padding: 2em 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #116644;
    border-bottom: 1px solid #112211;
    font-size: 1.15em;
    line-height: 3.5em;
    text-align: right;
    transition: all 250ms;
}

header > div {
    max-width: 1200px;
    margin: auto;
}

header .logo {
    position: relative;
    float: left;
    font-size: 3em;
    line-height: 1.25em;
    font-family: 'Courgette', cursive;
    color: #FFFFFF;
    text-decoration: none;
}

header .logo:before {
    content: '';
    width: 1.95em;
    height: 1.95em;
    position: absolute;
    top: 50%;
    left: -0.5em;
    transform: translateY(-50%) rotate(45deg);
    border-left: 2px solid #55FFCC;
    border-radius: 50%;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav li {
    display: inline-block;
    margin-left: 1.5em;
}

header nav a {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}

header nav a:hover {
    color: #112211;
}

main {
    max-width: 1200px;
    margin: 2em auto;
    padding: 0.5em 1.5em;
    background: #FFFFFF;
    border-radius: 15px;
}

footer {
    font-size: 0.85em;
    text-align: center;
}


.scrolled header {
    height: 105px;
    font-size: 1em;
    line-height: 3em;
}

.scrolled header .logo {
    font-size: 2.5em;
}
